<h1><%= link_to @post.title, @post.url%></h1>
<%if @post.user == current_user%>
  <button><%=link_to 'Edit', edit_post_path%></button>
  <button><%= link_to 'Delete', @post, method: :delete%></button>
<%end%>

<%= form_for [@post, @comment] do |f|%>
  <fieldset>
    <%=f.label :content%>
    <%=f.text_field :content%>

    <%=f.submit 'Submit'%>
  </fieldset>
<%end%>

<%=render @comments%>
