<!DOCTYPE html>
<html>
<head>
  <title>HackerNews</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<header>
  <%= link_to 'Home', root_path%>
  <% if logged_in? %>
  Logged in as <%= link_to current_user.username, current_user%>
  <%= link_to 'Logout', logout_path%>
  <%else%>
  <%= link_to 'Register', register_path%>
  <%= link_to 'Login', login_path%>
  <%end%>
</header>
<body>

<%= yield %>

</body>
</html>
